@media screen and (min-width: 480px) {
	#primary {
		width: 40%;
		margin: 0 0 0 10%;
		float: left;
	}
	#secondary {
		width: 40%;
		margin: 0 5%;
		float: left;
	}
	.dp{
		width: 25%;
		float: left;
		margin: 0 0 80px 5%;
	}
	#info {
		width:50%;
		float:left;
		margin: 0 12.5% 0 2.5%;
	}
	
}
@media screen and (min-width: 600px) {
	#gallery li {
		width: 28.333%;
		float: left;
		margin: 0 2.4%;
	}
	
	nav{
		background: none;
	}
	logo{
		float: left;
		width: 45%;
	}
	header{
		border-bottom: 5px solid #EF781D;  
	}
	
}